*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

/* loader */

#c_loader{
    background: rgba(250, 240, 245);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 99999;
}
#loader{
    border: 15px solid #ccc;
    border-top-color: #4895ef;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}
@keyframes girar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/* pagina */

.titulo{
    color: #000;
    text-align: center;
    margin: 20px;
}
.table{
    width: 100%;
}
table{
    border-collapse: collapse; 
    font-size: 16px;
    width: 100%;
}
table th{
    text-align: left;
    padding: 10pt;
    background: #9A83C9;
    color: #F0F0F0;
}
table tr:nth-child(odd){
    background: #cfcfcf;
}
table tr{
    background: #E3E3E3;
}
table td{
    padding: 20px;
    color: black;
}
.Quit{
    text-decoration: none;
    text-align: center;
    color: #000;
    border: 1px solid #db222a;
    padding: 14px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
}
.Quit:hover{
    background: #db222a;
    color: #fff;
}
.continue{
    text-decoration: none;
    text-align: center;
    color: #000;
    border: 1px solid #00964b;
    padding: 14px 40px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 10px;
}
.continue:hover{
    background: #00964b;
    color: #fff;
}
.fecha{
    padding: 10px;
    margin: 10px;
}
.date{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-bottom: 1px #000 solid;
    padding: 14px 40px;
    color: #000;
    outline: none;
    transition: 0.25s;
}
.date:focus{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-bottom: 1px #0BBDB7 solid;
    padding: 14px 40px;
    color: #000;
    outline: none;
    transition: 0.25s;
}