*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

/* loader */

#c_loader{
    background: rgba(250, 240, 245);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 99999;
}
#loader{
    border: 15px solid #ccc;
    border-top-color: #4895ef;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}
@keyframes girar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/* pagina */

.check{
    text-align: center;
    transform: translate(0, 250px);
}
#check1{
    color: #18a547;
    font-size: 200px;
}
.text1{
    margin: 5px;
    color: #cfcfcf;
    font-size: 15px;
}
.back{
    margin: 10px;
    padding: 10px 40px;
    border: 1px solid #18a547;
    background: #18a547;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.back:hover{
    border: 1px solid #19be50;
    border-radius: 5px;
    background: #19be50;
    color: #fff;
}