*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
body{
    background: linear-gradient(rgba(0,0,0,0.5),#009688),url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* loader */

#c_loader{
    background: rgba(250, 240, 245);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 99999;
}
#loader{
    border: 15px solid #ccc;
    border-top-color: #4895ef;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}
@keyframes girar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/* pagina */

.login{
    color: #ffff;
    text-transform: uppercase;
    font-weight: 500;
}
.login{
    width: 250px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    text-align: center;
    border-radius: 7px;
}
.login input[type = "email"],.login input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #009688;
    border-radius: 7px;
    padding: 14px 10px;
    width: 200px;
    color: #ffff;
    outline: none;
    transition: 0.25s;
}
.login input[type = "email"]:focus ,.login input[type = "password"]:focus{
    width: 210px;
    border-color: #00964b;
}
.login input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00964b;
    border-radius: 7px;
    padding: 14px 40px;
    color: #ffff;
    outline: none;
    transition: 0.25s;
}
.login input[type = "submit"]:hover{
    background: #00964b;
}

#warnings{
    width: 100%;
    height: auto;
    opacity: 0;
    background: red;
    transition: 1s;
}
#warnings #mensaje{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    transition: 1s;
}

@media screen and (max-width: 770px){
    body{
        height: 110vh;
    }
}