<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/197/PNG/128/scissors_24029.png" type="image/x-icon">
    <link rel="stylesheet" href="index.css">
    <title>BarberShop</title>
</head>
<body>
    <section id="banner">
        <img src="img/logo.png" class="logo">
        <div class="banner-text">
            <h1>BarberShop</h1>
            <h1>Twins</h1>
            <p></p>
            <div class="banner-btn">
                <a href="https://goo.gl/maps/rnEEi4Mp3ae9PNdA9"><span></span>Encuentranos</a>
                <a href="#Conocenos"><span></span>Nosotros</a> 
            </div>
        </div>
    </section>

    <div id="sideNav">
        <nav>
            <ul>
                <li><a href="#banner">INICIO</a></li>
                <li><a href="#Conocenos">CONOCENOS</a></li>
                <li><a href="#servicio">SERVICIO</a></li>
                <li><a href="#footer">CONTACTANOS</a></li>
                <li><a href="login.php">LOGIN</a></li>
                <li><a href="register.html">REGISTER</a></li>
            </ul>
        </nav>
    </div>
    <div id="menuBtn">
        <img src="img/menu.png" id="menu">
    </div>
    <section id="Conocenos">
        <div class="title-text">
            <p>Conocenos</p>
            <h1>¿Quienes Somos?</h1>
        </div>
        <div class="Conocenos-box">
            <div class="Conocenos1">
                <h1>BarberShop Twins</h1>
                <div class=" Conocenos-desc">
                    <div class="Conocenos-icon"></div>
                    <div class="Conocenos-text">
                        <p>Es una Empresa de barberia y de estilistas que ayuda a las personas para se vean como ellos quieren</p>
                    </div>
                </div>
            </div>
            <div class="Conocenos-img">
                <img src="img/barber-man.jpg" id="imagen0">
            </div>
        </div>
    </section>

    <section id="servicio">
        <div class="title-text">
            <p>Servicio</p>
            <h1>¿Que Hacemos?</h1>
        </div>
        <div class="servicio-box">
            <div class="servicio1">
                <img src="img/pic-1.jpg" id="imagen1">
                <div class="overlay"></div>
                <div class="servicio-desc">
                    <h3>Desvanecidos</h3>
                    <hr>
                    <p>El estilo que mejor refleja su personalidad</p>
                </div>
            </div>
            <div class="servicio1">
                <img src="img/pic-2.jpg" id="imagen2">
                <div class="overlay"></div>
                <div class="servicio-desc">
                    <h3>Barba</h3>
                    <hr>
                    <p>Definicion de barba</p>
                </div>
            </div>
            <div class="servicio1">
                <img src="img/pic-3.jpg" id="imagen3">
                <div class="overlay"></div>
                <div class="servicio-desc">
                    <h3>Manicura</h3>
                    <hr>
                    <p>El cuidado de tus manos</p>
                </div>
            </div>
            <div class="servicio1">
                <img src="img/pic-4.jpg" id="imagen4">
                <div class="overlay"></div>
                <div class="servicio-desc">
                    <h3>Color, Brillo y Suavidad</h3>
                    <hr>
                    <p>El marco de tu rostro</p>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
        <img src="img/footer-img.png" class="footer-img">
        <div class="title-text">
            <p>Contacto</p>
            <h1>Visita nuestra Barberia</h1>
        </div>
        <div class="footer-row">
            <div class="footer-left">
                <h1>horario</h1>
                <p>lunes a sabado - 9am a 9pm</p>
                <p>domingos - 9am a 4pm</p>
            </div>
            <div class="footer-right">
                <h1>local</h1>
                <p>Tv. 126b #132f18, Bogotá</p>
                <p>barbershoptwins2@gmail.com</p>
                <p>+57 301-380-0012</p>
            </div>
        </div>
        <div class="links">
            <i></i>
        </div>
    </section>
    
    <script src="menu.js"></script>
</body>
</html>