*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
body{
    background: linear-gradient(rgba(0,0,0,0.5),#009688),url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.login{
    color: #ffff;
    text-transform: uppercase;
    font-weight: 500;
}
.login{
    width: 250px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    text-align: center;
    border-radius: 7px;
}
.login input[type = "text"],.login input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #009688;
    border-radius: 7px;
    padding: 14px 10px;
    width: 200px;
    color: #ffff;
    outline: none;
    transition: 0.25s;
}
.login input[type = "text"]:focus ,.login input[type = "password"]:focus{
    width: 210px;
    border-color: #00964b;
}
.login input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00964b;
    border-radius: 7px;
    padding: 14px 40px;
    color: #ffff;
    outline: none;
    transition: 0.25s;
}
.login input[type = "submit"]:hover{
    background: #00964b;
}

@media screen and (max-width: 770px){
    body{
        height: 110vh;
    }
}