*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
html{
    scroll-behavior: smooth;
    background:#E3E3E3;
}

/* loader */

#c_loader{
    background: rgba(250, 240, 245);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 99999;
}
#loader{
    border: 15px solid #ccc;
    border-top-color: #9A83C9;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}
@keyframes girar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/* pagina */

#sideNav2{
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #313343;
    border-right: 1px black solid;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 30px;
}
nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #9C9C9C; 
}
nav ul li a i{
    text-decoration: none;
    font-size: 20px;
    color: #9C9C9C; 
}
.logo_User{
    margin: 1px 20px;
    width: 50%;
    height: 120px;
    float: left;
    object-fit: cover;
    border-radius: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translateX(45px);
}
.user{
    background: #9A83C9;
    margin: auto;
}
.user a{
    display: inline-block;
    font-size: 20px;
    color: #D4C0F5;
    text-align: center;
    padding-bottom: 20px;
    transform: translateX(50px);
}
.user a span{
    color: #E3E3E3;
}
h1{
    padding: 20px;
    text-align: center;
    margin-left: 10px;
    font-size: 35px;
    color: black;
}
.btn_crear{
    width: 100px;
    text-decoration: none;
    color: #fff;
}
#Csesion{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    margin: 40px 25px;
}
.table{
    width: 87%;
    float: right;
}
table{
    border-collapse: collapse; 
    font-size: 16px;
    float: right;
    width: 95%;
}
table th{
    text-align: left;
    padding: 10pt;
    background: #9A83C9;
    color: #F0F0F0;
}
table tr:nth-child(odd){
    background: #cfcfcf;
}
table tr{
    background: #E3E3E3;
}
table td{
    padding: 20px;
    color: black;
}
.reserva{
    color: #0b2cbd;
    list-style: none;
    text-decoration: none;
}
.Delete{
    color: #db222a;
    list-style: none;
    text-decoration: none;
}
.modal_register{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    z-index: 99999;
    pointer-events: none;
    background: #111111bd;
    transition: opacity .6s;

}
.modal_reserva{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    z-index: 99999;
    pointer-events: none;
    background: #111111bd;
    transition: opacity .6s;
}
.mostrar-modal{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}
.contenedor_modal{
    margin: auto;
    width: 90%;
    max-width: 410px;
    max-height: 90%;
    background: #fff;
    border-radius: 6px;
    box-shadow: 5px 5px 5px 0.1px #161a1d;
    padding: 2em;
}
.modal_close{
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: #dc2f02;
    border: 1px solid #dc2f02;
    border-radius: 6px;

}
.form{
    margin: 30px;
}
.form h1{
    text-align: center;
}
.form input[type = "email"],.form input[type = "password"],.form input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #009688;
    padding: 14px 10px;
    width: 200px;
    color: #000;
    outline: none;
    transition: 0.25s;
}
.form input[type = "email"]:focus ,.form input[type = "password"]:focus,.form input[type = "text"]:focus{
    width: 210px;
    border-color: #00964b;
}
.form input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid #80b918;
    border-radius: 7px;
    padding: 14px 40px;
    color: #000;
    outline: none;
    transition: 0.5s;
}
.form input[type = "submit"]:hover{
    background: #80b918;
    color: #fff;
}
#warnings_r{
    width: 100%;
    height: auto;
    opacity: 0;
    background: #dc2f02;
    transition: 1s;
}
#warnings_r #mensaje_r{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    transition: 1s;
}